nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 32px;
  background-color: $background1;
  .nav-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-item {
      display: flex;
      flex-direction: row;
      color: $foreground1;
      text-decoration: none;
      margin: 0 16px;
      img {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }
      &:hover {
        color: $primary;
        transition: background 0.1s ease-in, color 0.1s ease-in;
      }
    }
    @media (max-width: 725px) {
      display: none;
    }
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background1;
    position: fixed;
    padding-top: 50px;
    top: 50px;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    .nav-item {
      display: flex;
      color: $foreground1;
      text-decoration: none;
      margin-top: 64px;
      img {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }
      &:hover {
        color: $primary;
        transition: background 0.1s ease-in, color 0.1s ease-in;
      }
    }
  }
  .nav-hamburger {
    display: none;
    @media (max-width: 725px) {
      display: flex;
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
  }
  .nav-cart {
    margin-left: 6px;
    background-color: $primary;
    color: $foreground3;
    padding: 0 6px;
    border-radius: $border-radius;
  }
  .nav-icon {
    height: 22px;
    width: 22px;
    margin-right: 8px;
  }
}
