button,
.button {
  height: 40px;
  padding: 0 18px;
  border: none;
  background-color: $primary;
  color: $foreground3;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &-secondary {
    background-color: $secondary;
    color: $foreground3;
  }
  &-danger {
    background-color: $danger;
    color: $foreground3;
  }
}
