.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: $background1;
  margin: 40px;
  padding: 20px;
  border-radius: $border-radius;
  .card-image-container {
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p {
    &:first-of-type {
      margin-top: 15px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
  }
}
