.cart {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 1080px) {
    width: 90%;
  }
  h1 {
    margin: 64px 0;
  }
  overflow-x: auto;
  white-space: nowrap;
  table {
    width: 100%;
    table-layout: fixed;
    tr {
      th {
        font-weight: 600;
        padding-bottom: 16px;
        width: 160px;
      }
      .cart-image {
        width: 125px;
        height: 125px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin: 0 10px;
        }
      }
      td {
        vertical-align: middle;
        border-top: 2px solid $border;
        padding: 16px 0;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
        &:last-of-type {
          cursor: pointer;
          color: $danger;
        }
      }
    }
  }
  .cart-checkout {
    float: right;
    display: flex;
    align-items: center;
    button {
      margin-left: 12px;
    }
  }
}
