.home {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 90%;
    h1 {
        font-size: 28px;
        margin: 0 auto;
    }
    div {
        display: flex;
        justify-content: center;
        .card-container {
            display: grid;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: 1125px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 750px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
