.home {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 90%;
    h1 {
        font-size: 28px;
        margin: 0 auto;
    }
    div {
        display: flex;
        .card-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: 0 auto;
        }
    }
}
