.login {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  @media (max-width: 680px) {
    width: 80%;
  }
  h1 {
    text-align: center;
    padding: 30px 0 40px 0;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }

  .auth-redirect {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    p {
      color: $foreground1;
      text-decoration: none;
      display: inline-block;
      margin: 5px;
    }
    .separator {
      @media (max-width: 790px) {
        display: none;
      }
    }
    button {
      width: 100%;
      margin-bottom: 15px;
    }
    .sign-up {
      background-color: $primary;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }

  .or {
    text-align: center;
    margin: 20px 0;
    color: $foreground1;
  }
}
