.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  p {
    width: 30%;
    @media screen and (max-width: 500px) {
      width: 50%;
    }
    margin: 8px 0 16px 0;
    text-align: center;
  }
}
