.profile {
  width: 30%;
  margin: 0 auto;
  @media (max-width: 1300px) {
    width: 50%;
  }
  @media (max-width: 850px) {
    width: 80%;
  }
  h1 {
    padding: 30px 0;
    text-align: center;
  }
  form {
    div {
      display: flex;
      flex-direction: column;
      input {
        &:last-of-type {
          margin-top: 4px;
        }
      }
    }
    button {
      width: 150px;
    }
  }
  .section {
    border-top: 2px solid $border;
    margin: 24px 0;
    padding: 18px 0;
  }
  .profile-delete-account {
    h2 {
      color: $danger;
    }
    button {
      margin-top: 8px;
    }
  }
}
