.profile {
    display: flex;
    justify-content: center;
    .profile-container {
        width: 50%;
        font-size: 16px;
        @media (max-width: 680px) {
            width: 80%;
        }
        h1 {
            font-size: 32px;
            text-align: center;
            margin: 30px 0 40px 0;
            color: $foreground1;
        }
        .profile-data-container {
            .profile-data {
                p {
                    margin: 10px 0;
                    font-weight: 600;
                    &:last-child {
                        font-weight: 400;
                    }
                }
                input {
                    box-sizing: border-box;
                    width: 100%;
                }
                button {
                    width: 120px;
                }
            }
            .profile-data-admin {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    margin: 10px 0;
                    font-weight: 600;
                    &:last-child {
                        font-weight: 400;
                    }
                }
            }
        }
        .profile-buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            button {
                width: 100px;
                &:last-child {
                    background-color: $secondary;
                }
            }
        }
    }
}
