// $foreground1: #ffffff;
// $foreground2: #000000;
// $foreground3: #797979;

// $background1: #111111;
// $background2: #181818;

// $border: #cccccc;

// $primary: #fd7688;
// $secondary: #5352b4;

// $error: #ff0000;



// $foreground1: #212121;
// $foreground2: #ffffff;
// $foreground3: #797979;

// $background1: #ffffff;
// $background2: #e2e2e2;

// $border: #cccccc;

// $primary: #2e53f7;
// $secondary: #fa3535;

// $error: #ff0000;



$foreground1: #ffffff;
$foreground2: #ffffff;
$foreground3: #d1d1d1;

$background1: #321F28;
$background2: #3b2530;

$border: rgb(83, 48, 52);

$primary: #E79E4F;
$secondary: #A05344;

$error: #ff0000;