$foreground1: #2b353b;
$foreground2: #48555e;
$foreground3: #ffffff;

$background1: #ffffff;
$background2: #ecf1f4;

$primary: #3292ec;
$secondary: #ff7777;

$error: #c02d2d;
$success: #59d659;

$border: #ecf1f4;
