$foreground1: #2b353b;
$foreground2: #48555e;
$foreground3: #ffffff;

$background1: #ffffff;
$background2: #f5f5f9;

$primary: #3292ec;
$secondary: #ff7777;

$danger: #c02d2d;
$success: #59d659;

$border: #e6eaed;
$border-radius: 4px;
